
$colorWhite: #fff;


.people {
  &__container {
    max-width: 925px;
    width: 100%;

    padding: 0 35px;
    margin: 0 auto;
  }

  &__wrapper {
    display: grid;
    grid-template-columns: repeat(2,minmax(0,200px));
    gap: 30px;
  }
}

.person-card {
  &__photo {
    position: relative;
    aspect-ratio: 1;

    border-radius: 50%;
    overflow: hidden;


    &::before{
      content: '';

      position: absolute;
      right: 0;
      top: 0;

      display: block;

      width: 32px;
      height: 32px;

      background-color: ;
    }
  }

  &__img {
    width: 100%;
    height: 100%;

    object-position: center;
    object-fit: cover;
  }

  &__details {
  }

  &__name {
  }

  &__extra {
  }

  &__sport {
  }

  &__pay {
  }
}